.header{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  position: sticky;
  box-shadow: 0 3px 6px rgb(232, 223, 223);

  .LogoIcon{
    // padding: 16px;
  }
  
  .balanceCard{
    display: flex;
    gap: 8px;
  }
}