@import '/styles';

.press-container{
    background: url('/img/glow2x.png');
    background-size: 100% 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 48px;
    display: flex;
    align-items: center;
    .press{
        margin: 150px 0 100px;
        background-color: #140f1b;
        height: 372px;
        width: 100%;

        .heading02{
            width: 90%;
            margin: auto;
            padding: 72px 0 0;
        }

        .img-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            
        }

        .press-img{
            // margin: ;
            img{

                height: 30px;
                width: fit-content;
            }
        }
    }
}