@import "/styles";

.trusted-investors {
  width: 100vw;
  max-width: 1980px;
  padding: 0 12%;
  margin: 200px auto 0;

  @include lessThan(xxl) {
    padding: 0 8%;
  }
  .heading02 {
    margin-bottom: 56px;
    text-align: center;
  }

  .brands {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    justify-content: center;

    .brand-img {
      border-radius: 24px;
      width: 100%;
      aspect-ratio: 3/1.2;
      background-color: #1b1423;
      border-radius: 24px;
      overflow: hidden;
      @include lessThan(md) {
        border-radius: 8px;
      }
    }

    @include lessThan(xl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .investors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 32px;
    margin-top: 100px;

    .investor-item {
      width: 100%;
      height: fit-content;
      margin: auto;
      display: flex;
      align-items: center;
      border-radius: 24px;
      overflow: hidden;
      background-color: #1b1423;

      @include lessThan(md) {
        border-radius: 8px;
      }

      img {
        width: 96px;
        aspect-ratio: 1;
        background-color: $phlox;

        @include lessThan(md) {
          width: 48px;
        }
      }

      .paragraph02 {
        padding: 8px 0 0 32px;
        font-size: 16px;
        line-height: 1.5;

        @include lessThan(md) {
          font-size: 12px;
        }
      }
    }

    @include lessThan(xl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
