@import "/styles";

.start-staking {
  width: 100vw;
  max-width: 1980px;
  padding: 0 12%;
  margin: 100px auto 60px;

  background: url("/img/glow2x.png");
  background-size: 900px 900px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: top -30px left 40px;
  position: relative;

  @include lessThan(xxl) {
    padding: 0 8%;
  }

  @include lessThan(xl) {
    background-size: 700px 700px;
    height: 700px;
  }

  @include lessThan(lg) {
    background-size: 700px 700px;
    background-position: top -30px left 10px;
    height: fit-content;
  }

  @include lessThan(md) {
    background-size: 100% 68%;
    background-position: top -30px left 10px;
    height: fit-content;
  }

  .heading01 {
    text-align: center;
  }

  .content {
    display: flex;
    align-items: center;
    height: 600px;

    @include lessThan(lg) {
      flex-direction: column;
      height: fit-content;
    }

    .video-container {
      flex: 0.7;
      video {
        width: 840px;
      }
      @include lessThan(xxl) {
        margin-left: -50px;
        video {
          width: 680px;
        }
      }
      @include lessThan(xl) {
        margin-left: -88px;
        video {
          width: 600px;
        }
      }
    }

    .details {
      height: 300px;
      flex: 0.3;
      .paragraph01 {
        width: 358px;
        padding: 36px 28px;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 400;
        border-radius: 4px;
        background: linear-gradient(to right, $white 2px, transparent 2px) 0 0,
          linear-gradient(to left, $white 2px, transparent 2px) 100% 100%,
          linear-gradient(to bottom, $white 2px, transparent 2px) 0 0,
          linear-gradient(to top, $white 2px, transparent 2px) 100% 100%;
        background-repeat: no-repeat;
        background-size: 20px 20px;

        @include lessThan(md) {
          @include font-size(18px);
        }
      }

      button {
        width: 172px;
        height: 64px;
        border-radius: 30px;
        padding: 0 24px;
        outline: none;
        border: none;
        background-color: $indigo;
        color: $white;
        margin-top: 48px;
        font-size: 20px;

        &:hover {
          cursor: pointer;
          background-color: $phlox;
        }
      }
    }
  }
}
