@import "/styles";

.footer-container {
  border-top: 0.1rem solid hsla(0, 0%, 100%, 0.08);

  .ft-row-1 {
    width: 100vw;
    max-width: 1980px;
    padding: 64px 12% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;

    @include lessThan(xxl) {
      padding: 0 8%;
    }

    @include lessThan(lg) {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      margin: 60px 0;
    }

    .ft-detail {
      flex: 0.5;
      height: 272px;
      // @include padding(64px 0);
      .details {
        width: 300px;
        margin-top: 24px;
      }
    }
    .ft-nav {
      flex: 0.1;
      height: 272px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .ft-form {
      flex: 0.35;
      //   max-width: 500px;
      height: 272px;

      @include lessThan(lg) {
        width: 100%;
      }

      .form-container {
        width: 500px;
        height: 56px;
        margin-top: 24px;
        background-color: transparent;
        border: 2px solid $indigo;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include lessThan(xxl) {
          width: 480px;
        }

        @include lessThan(xl) {
          width: 400px;
        }

        @include lessThan(lg) {
          width: 100%;
        }

        @include lessThan(md) {
          height: 48px;
        }

        input {
          border: none;
          outline: none;
          background-color: transparent;
          padding: 16px 24px;
          font-size: 16px;
          color: $white;

          @include lessThan(md) {
            width: 70%;
            height: 48px;
          }
        }

        button {
          width: 156px;
          height: 56px;
          color: $white;
          font-size: 18px;
          background-color: $indigo;
          border-radius: 30px;
          outline: none;
          border: 2px solid $indigo;

          &:hover {
            background-color: $phlox;
            border: 2px solid $phlox;
          }

          @include lessThan(md) {
            width: 30%;
            height: 48px;
          }
        }
      }
    }
  }

  .ft-row-2 {
    border-top: 0.1rem solid hsla(0, 0%, 100%, 0.08);
    border-bottom: 0.1rem solid hsla(0, 0%, 100%, 0.08);
    display: flex;
    div {
      flex: 0.33;
      height: 132px;
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: center;
      @include font-size($font-size-xxxlg);
      color: $phlox;

      &:hover {
        color: $black;
        background-color: $phlox;
      }

      @include lessThan(lg) {
        height: 100px;
      }

      @include lessThan(md) {
        height: 80px;
      }
    }
    .border {
      border-left: 0.1rem solid hsla(0, 0%, 100%, 0.08);
      border-right: 0.1rem solid hsla(0, 0%, 100%, 0.08);
    }
  }

  .ft-row-3 {
    width: 100vw;
    max-width: 1980px;
    padding: 0 12%;
    div {
      display: flex;
      gap: 32px;
    }
    p {
      color: hsla(0, 0%, 100%, 0.5);
      @include font-size($font-size-md);
      @include padding(20px 0 0);
    }

    @include lessThan(xxl) {
      padding: 0 8%;
    }
  }
}
