@import '/styles';

.staking-expert{
    width: 90%;
    margin: 100px auto 0;

    .heading02{
        margin-bottom: 48px;
    }

    .stake-items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 80px;
        grid-row-gap: 32px;

        .stake-card{

            div{
                display: flex;
                justify-content: space-between;

                img{
                    max-width: 40px;
                    max-height: 40px;
                }
            }

            .heading04{
                color: $phlox;
                margin-bottom: 24px;
            }

            .paragraph02{
                color: #848585;
                line-height: 1.5;
            }
        }
    }
}