$white: #ffffff;
$black: #000000;
$primary: #333333;
$bg-secondary: #f6f7f8;
$btn-text: #708090;
$btn-disable: #dcdfe4;
$border-secondary: #909090;
$border-light-grey: #e0e0e0;
$bg-grey: #bababa;
$bg-light-grey: #fafafa;
$title-color: #202f44;
$text-light: #6e727d;
$text-grey: #808080;
$text-color: #818ba1;
$text-secondary: #555555;
$placeholder-color: #757575;
$social-color: #202f44cc;
$required-label: #6045f4;
$success: #199b26;
$error: #db2438;

// Electric Indigo : #6801f3;
// Palatinate Blue : #233cf9;
// phlox : #eb01f3;
// Turquoise : $48e6dc;

$indigo: #6801f3;
$blue: #233cf9;
$phlox: #eb01f3;
$turquoise: #48e6dc;
