$primaryText: #ffffff;

.heading01 {
  color: $primaryText;
  text-align: left;
  letter-spacing: unset;
  margin: unset;
  font-style: normal;
  font-weight: $font-weight-regular;
  @include font-size($font-size-h1);
  line-height: $line-height-sm;

  @include lessThan(xxl) {
    @include font-size(116px);
  }

  @include lessThan(lg) {
    @include font-size(80px);
  }

  @include lessThan(lg) {
    @include font-size(72px);
  }
}

.heading02 {
  color: $primaryText;
  text-align: left;
  letter-spacing: unset;
  margin: unset;
  font-style: normal;
  font-weight: $font-weight-regular;
  @include font-size($font-size-h2); // 56px
  line-height: $line-height-sm;

  @include lessThan(lg) {
    @include font-size(48px);
  }

  @include lessThan(md) {
    @include font-size(36px);
  }
}

.heading03 {
  color: $primaryText;
  text-align: left;
  letter-spacing: unset;
  margin: unset;
  font-style: normal;
  font-weight: $font-weight-regular;
  @include font-size($font-size-h3); //36px
  line-height: $line-height-sm;
}

.heading04 {
  color: $primaryText;
  text-align: left;
  letter-spacing: unset;
  margin: unset;
  font-style: normal;
  font-weight: $font-weight-regular;
  @include font-size($font-size-h4); //36px
  line-height: $line-height-sm;
}

.paragraph01 {
  text-align: left;
  letter-spacing: unset;
  margin: unset;
  font-style: normal;
  font-weight: $font-weight-regular; //400
  @include font-size($font-size-lg); // 18px
  line-height: $line-height-sm;

  @include lessThan(lg) {
    @include font-size($font-size-md); //12px
  }
}

.paragraph02 {
  text-align: left;
  letter-spacing: unset;
  margin: unset;
  font-style: normal;
  font-weight: $font-weight-regular; //400
  @include font-size($font-size-md); // 16px
  line-height: $line-height-sm;
}

.paragraph03 {
  text-align: left;
  letter-spacing: unset;
  margin: unset;
  font-style: normal;
  font-weight: $font-weight-medium; //400
  @include font-size($font-size-sm); // 14px
  line-height: $line-height-sm;
}

.paragraph04 {
  text-align: left;
  letter-spacing: unset;
  margin: unset;
  font-style: normal;
  font-weight: $font-weight-regular; //400
  @include font-size($font-size-xlg); // 20px
  line-height: $line-height-sm;
}

.paragraph05 {
  text-align: left;
  letter-spacing: unset;
  margin: unset;
  font-style: normal;
  font-weight: $font-weight-regular; //400
  @include font-size($font-size-xsm); // 12px
  line-height: $line-height-sm;
}
