@import "/styles";

.validator-container {
  width: 100vw;
  max-width: 1980px;
  padding: 0 12%;
  margin: 200px auto 0;
  display: flex;
  background: url("/img/glow2x.png");
  background-size: 800px 800px;
  height: 800px;
  background-repeat: no-repeat;
  background-position: right -40px top -40px;

  @include lessThan(xxl) {
    padding: 0 8%;
  }

  @include lessThan(lg) {
    flex-direction: column;
    background: none;
    height: fit-content;
    margin-top: 100px;
  }

  .details {
    .heading01 {
      @include font-size(136px);

      @include lessThan(xxl) {
        width: 562px;
        @include font-size(120px);
      }

      @include lessThan(xl) {
        width: 562px;
      }

      @include lessThan(md) {
        width: fit-content;
      }
    }
    .note {
      width: 400px;
      height: fit-content;
      padding: 24px;
      line-height: 1.5;
      border-radius: 4px;
      background: linear-gradient(to right, $white 2px, transparent 2px) 0 0,
        linear-gradient(to left, $white 2px, transparent 2px) 100% 100%,
        linear-gradient(to bottom, $white 2px, transparent 2px) 0 0,
        linear-gradient(to top, $white 2px, transparent 2px) 100% 100%;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      font-size: 24px;
      line-height: 1.5;

      @include lessThan(md) {
        width: fit-content;
        margin-top: 16px;
        @include font-size(18px);
      }
    }

    button {
      width: 148px;
      height: 52px;
      border-radius: 30px;
      padding: 0 24px;
      outline: none;
      border: none;
      background-color: $indigo;
      color: $white;
      margin-top: 48px;
      font-size: 16px;
    }
  }

  .val-img {
    display: flex;
    justify-content: center;
    img {
      width: 572px;
      aspect-ratio: 4/5;

      @include lessThan(xl) {
        width: 400px;
      }

      @include lessThan(lg) {
        width: 324px;
      }
    }

    @include lessThan(lg) {
      background: url("/img/glow2x.png");
      background-size: 500px 500px;
      height: 500px;
      background-repeat: no-repeat;
      background-position: center;
    }

    @include lessThan(md) {
      background-size: 400px 400px;
      height: 400px;
    }
  }
}
